/* Empty. Add your own CSS if you like */
.images-fundo{
  background: url("../img/logo-nimal-leve.png") no-repeat center bottom;

  /*padding-bottom: 30cm;*/
  /*border: 1px solid #f0f;*/
}


:placeholder { /* Mozilla Firefox 4 to 18 */
color: #fff;
text-align: center;
}


.custom-icon {
  /*font-size: 64px;*/
  color : red;
  opacity: 0.0;
}


  div.alert {
      border-style: solid;
      border-width: 1px;
      background-color:#FFFFFF;
      overflow:hidden;
      border: 3px solid #4edb4e;
      border-radius: 12px;
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 1px;
      padding-left: 10px;
      text-align: center;
      border-bottom: 3px solid #4edb4e;
      /*font-family: "Arial", "Georgia";*/
      /*font-weight: bold;*/
      color: #4edb4e;

  }




 /*//////////////////       PARA USAR COM A LISTA NO CONSULTARPRODUTO*/
/*.bar-subheader{
  height: 60px !important;
}
.has-subheader{
  top: 100px !important;
}*/
/* //////////////////*/




/*.modal {
top: 0% !important;
left: 0% !important;
right: 0% !important;
bottom: auto !important;
margin: 5% !important;
overflow: hidden !important;
position: auto !important;
background-position: auto !important;
background-size: cover;*/




  /*.cadastrarVeiculoForm input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }*/
