<ion-view view-title="Consultar Bem">

  <ion-nav-buttons side="right">
    <div class="buttons">
      <!-- <button class="button" ng-click="app.cadastrarProduto">Cadastrar</button> -->
      <!-- <a href="#/app/cadastrarProduto" class="button button">Cadastrar </a> -->
    </div>
  </ion-nav-buttons>


  <ion-header-bar class="bar-subheader bar-stable">
    <div class="row">


      <!-- Ao fazer a busca, colocar para aparecer também o nome do local -->
      <div class="col col text-center" style="font-size: 15px; font-weight:bold; text-transform: uppercase">LOCAL: {{local.codigoLocal}}</div>
    </div>
  </ion-header-bar>



  <ion-content class="padding has-header has-subheader">


    <div class="bar item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input id="searchKey" type="search" placeholder="Nome do Bem" ng-model="searchKey" style="text-transform: uppercase" autocorrect="off" autofocus="true" required>
        <button class="button button-clear" ng-click="clearSearch()">X</button>
      </label>
      <button class="button button-clear" ng-click="search()">Search</button>
    </div>




</br>
<ion-list>

  <!-- <ion-item ng-repeat="bem in bens" type="item-text-wrap" href="#/consultarProduto/infoProduto"> -->
  <ion-item ng-repeat="bem in bens" type="item-text-wrap">
    <h4>{{bem.CHAPA}}</h3>
    <p>{{bem.DESC_BEM}}</p>

                      <!-- Ao fazer a busca, colocar para aparecer também o nome do local -->
    <p>LOCAL: {{bem.COD_LOCAL}}</p>
    <span class="item-note" style="color:red" ng-show="bem.COD_LOCAL != local.codigoLocal">
      Em outro local
    </span>

  </ion-item>
</ion-list>





  </ion-content>
</ion-view>
