<ion-view view-title="Bem">

  <ion-nav-buttons side="right">
    <div class="buttons">
      <!-- <button class="button" ng-click="modal.show()">Modal</button> -->
    </div>
  </ion-nav-buttons>

  <!-- <ion-header-bar class="bar-subheader bar-stable">
    <div class="row">
      <div class="col col text-center" style="font-size: 15px; font-weight:bold">PLACA: {{veiculo.PLACA}}</div>
    </div>
  </ion-header-bar> -->


  <ion-content class="padding has-header">
    <form name="editarProdutoForm" padding>

      <div class="list list-inset item-text-wrap">

        <div class="item"><b>Código: </b>
          <a style="float:right; text-align:left;">{{bem.COD_BEM}}</a>
          <br/>
        </div>

        <div class="item">
          <b>Descrição: </b>
          <br/>
          <br/>
          <p style="text-align:right; align:justify; margin-left:30%">{{bem.DESC_BEM}}</p>
        </div>

        <div class="item"><b>Chapa: </b>
          <a style="float:right; text-align:left;"> {{bem.CHAPA}}</a>
        </div>

        <div class="item"><b>Local: </b>
          <a style="float:right; text-align:left;">{{bem.COD_LOCAL}}</a>
          <br/>
          <br/>
          <p style="text-align:right; align:justify; margin-left:30%">{{dados.DESC_LOCAL_DO_BEM}}</p>
        </div>

      </div>
      <div class="list list-inset item-text-wrap" ng-show="editarProdutoForm.novoLocal.value == local.COD_LOCAL">

        <div class="item"><b>Local atual: </b>
          <a style="float:right; text-align:left;">{{dados.COD_LOCAL}}</a>
          <br/>
          <br/>
          <p style="text-align:right; align:justify; margin-left:30%">{{dados.DESC_LOCAL}}</p>
        </div>
      </div>

      <!-- <div class="list list-inset item-text-wrap" ng-show="editarProdutoForm.novoLocal.value !== local.COD_LOCAL">

        <div class="item"><b>Novo Local: </b>
          <a style="float:right; text-align:left; color:#0090c4">{{local.COD_LOCAL}}</a>
          <br/>
          <br/>
          <p style="text-align:right; align:justify; margin-left:30%; color:#0090c4">{{local.DESC_LOCAL}}</p>
        </div>
      </div> -->

      <div class="row" ng-show="editarProdutoForm.novoLocal.value !== local.COD_LOCAL">
        <div class="col col -50"><b>Novo local:</b></div>
        <div class="col col -50 button-clear" style="text-align:right;" ng-show="editarProdutoForm.novoLocal.value !== local.COD_LOCAL" ng-click="clearInput()"><i class="ion-close"></i></div>
      </div>

      <div class="list" padding>
        <div class="item item-input item-floating-label" ng-show="editarProdutoForm.novoLocal.value !== local.COD_LOCAL">
          <input ng-focus="openModal()" name="novoLocal" type="text" style="text-transform: uppercase; text-align:center; color:#0090c4; padding: 0px 15px 0px 15px" ng-model="local.COD_LOCAL" placeholder="Selecionar novo local"></input>
          <p style="text-transform: uppercase; text-align:center; color:#0090c4; padding: 0px 15px 0px 15px">{{local.DESC_LOCAL}}</p>
        </div>
      </div>

      <button class="button button-block button-dark" ng-click="escreverProdutoEditado()">Salvar</button>

      <!-- BOTÃO DE NOVO LOCAL -->
      <div class="list" padding>
        <div class="item item-input item-floating-label" ng-show="editarProdutoForm.novoLocal.value == local.COD_LOCAL">
          <input ng-focus="openModal()" name="novoLocal" type="text" style="text-transform: uppercase; text-align:center; color:#0090c4; padding: 0px 15px 0px 15px" ng-model="local.COD_LOCAL" placeholder="Selecionar novo local"></input>
          <p style="text-transform: uppercase; text-align:center; color:#0090c4; padding: 0px 15px 0px 15px">{{local.DESC_LOCAL}}</p>
        </div>
      </div>

    </form>
  </ion-content>
</ion-view>
