<ion-view align-title="center" view-title="Informações">

  <ion-nav-buttons side="right">
    <div class="buttons">
      <!-- <button class="button" ng-click="app.cadastrarProduto">Cadastrar</button> -->
      <!-- <a href="#/app/cadastrarProduto" class="button button">Cadastrar </a> -->
    </div>
  </ion-nav-buttons>


  <ion-content class="padding has-header">





    <div class="card">
      <div class="item item-divider" align="center">
        Acessando os arquivos
      </div>

      <div class="item item-text-wrap" align="justify">
        Os dados serão salvos no arquivo <b>Lista_de_Bens.csv</b> dentro da pasta <i>Queiroz Galvão</i> em seu dispositivo.
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap" align="justify">
        O app pode ler 3 tipos de arquivos: CSV, XLSX e XLS. Dando preferência sempre ao CSV.
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap" align="justify">
        Se desejar mudar o banco de Bens manualmente, basta acessar a pasta interna e deixar somente o novo arquivo lá.
        <br> O novo arquivo precisa possuir o seguinte nome: <b>Lista_de_Bens</b>
        <br>
        <br>

        <!-- </div> -->
        <!-- <div class="item item-divider" align="center"> -->
        <h4>É aconselhável salvar um backup do arquivo antigo antes de qualquer mudança.</h4>
        <!-- </div> -->
      </div>
    </div>
</br>


  </ion-content>
</ion-view>
