<ion-view view-title="Lista de Locais">
  <html ng-app="myApp">
    <head lang="en">
      <!--  Plugin ng-Grid -->
      <link rel="stylesheet" type="text/css" href="lib/angular-ui-grid/ui-grid.min.css">
        </head></html>

  <ion-nav-buttons side="right">
    <div class="buttons">
    <!-- <button class="button" ng-click="app.cadastrarProduto">Cadastrar</button> -->
      <a href="#/app/cadastrarProduto" class="button button">Cadastrar </a>
    </div>
  </ion-nav-buttons>

  <ion-content class="padding images-fundo has-header">

    <div ng-controller="listaLocaisCtrl">


      <!-- <strong>Data Length:</strong> {{ gridOptions.data.length | number }}
      <br>
      <strong>Last Cell Edited:</strong> {{msg.lastCellEdited}}
      <br>
      <div ui-grid="gridOptions" ui-grid-edit class="grid"></div>
      <br>
      <div><strong>Last file uploaded:</strong></div>
      <div>{{lastFile}}</div> -->



      <button ng-click="exportData()">Export</button>
         <br/>
         <div id="exportable">
         <table width="100%">
             <thead>
                 <tr>
                     <th>CÓDIGO DO LOCAL</th>
                     <th>DESCRIÇÃO DO LOCAL</th>
                     <!-- <th>DoB</th> -->
                 </tr>
             </thead>
             <tbody>
                 <tr ng-repeat="item in items">
                     <td>{{item.COD_LOCAL}}</td>
                     <td>{{item.DESC_LOCAL}}</td>
                     <!-- <td>{{item.dob | date:'MM/dd/yy'}}</td> -->
                 </tr>
             </tbody>
         </table>
         </div>












    </div>


  </ion-content>
</ion-view>
