<!-- <ion-view view-title="Lista de Locais">
  <html ng-app="myApp">
    <head lang="en">

      <link rel="stylesheet" type="text/css" href="lib/angular-ui-grid/ui-grid.min.css">
        </head></html>

  <ion-nav-buttons side="right">
    <div class="buttons">

      <a href="#/app/cadastrarProduto" class="button button">Cadastrar </a>
    </div>
  </ion-nav-buttons>

  <ion-content class="padding has-header">

  <div> -->


<!-- ///////// ///////////////////////      TESTE PARA LISTA COM INFINITE-SCROLL -->

<!-- <ion-list>

      <ion-item collection-repeat="bem in bens | filter:search | limitTo:numberOfItemsToDisplay" type="item-text-wrap" class="item" item="bem" ng-click="editarBem(bem)">
        CHAPA: {{bem.CHAPA}}
        COD: {{bem.COD_BEM}}
        DESC: {{bem.DESC_BEM}}

      </ion-item>

    </ion-list>

    <ion-infinite-scroll
    on-infinite="loadMoreData()"
    distance="1%">
  </ion-infinite-scroll>




</ion-content>

    </br>
    </br>
    </br> -->






<!-- <strong>Data Length:</strong> {{ gridOptions.data.length | number }}
      <br>
      <strong>Last Cell Edited:</strong> {{msg.lastCellEdited}}
      <br>
      <div ui-grid="gridOptions" ui-grid-edit class="grid"></div>
      <br>
      <div><strong>Last file uploaded:</strong></div>
      <div>{{lastFile}}</div> -->


<!--
      <button ng-click="exportData()">Export</button>
         <br/>
         <div id="exportable">
         <table width="100%">
             <thead>
                 <tr>
                     <th>CÓDIGO DO LOCAL</th>
                     <th>DESCRIÇÃO DO LOCAL</th>

                 </tr>
             </thead>
             <body>
                 <tr ng-repeat="local in locais">
                     <td>{{local.COD_LOCAL}}</td>
                     <td>{{local.DESC_LOCAL}}</td>


                   </tr>
                 </br>

             </body>
         </table>
         </div>




    </div>


  </ion-content>
</ion-view>
 -->

<!-- //**********************************************************************************************************//
//////////////       TESTE DE CONSULTAR PRODUTO SEM LISTA -->





<ion-view view-title="Consultar Bem">

  <ion-nav-buttons side="right">
    <div class="buttons">
      <!-- <button class="button" ng-click="app.cadastrarProduto">Cadastrar</button> -->
      <!-- <a href="#/app/cadastrarProduto" class="button button">Cadastrar </a> -->
    </div>
  </ion-nav-buttons>


  <!-- <ion-header-bar class="bar-subheader bar-stable">
    <label class="item-text-wrap">
      <div class="text-center" style="font-size: 13px; font-weight:bold; text-transform: uppercase">CÓDIGO: {{dados.COD_LOCAL}} </br> LOCAL: {{dados.DESC_LOCAL}}
      </div>
    </label>

  </ion-header-bar>




  <ion-content class="padding has-header has-subheader">
    <div class="bar item-input-inset">
      <label class="item-input-wrapper">

        <input type="search" autofocus="true" placeholder="Informe o Bem" ng-model="search" style="text-transform: uppercase" required>


      </label>
      <input class="button button-clear" type="reset" value="X" />

    </div>

    </br> -->



  <!-- /*****************************************************************************/ -->
  <!-- Página sem lista (INCOMPLETA) -->



  <ion-content class="padding has-header">

    <div class="card">

      <div class="item item-divider">
        <p style="text-align:center;  font-weight:bold; font-size: 16px;"> LOCAL </p>
      </div>

      <div class="text-left" style=" text-align:center; font-size: 13px; color font-weight:bold; text-transform: uppercase; margin: 2% 5% 2% 5%;">
        <p>CÓDIGO: {{teste.COD_LOCAL}}</br>
          {{teste.DESC_LOCAL}}</p>
      </div>

    </div>





    <form name="FormBuscaBemTeste" onsubmit="" novalidate>
  <div class="list" id="DivForm">
      </br>
      <label class="item item input">
        <p>Código do Bem:</p>
        <input type="text" autofocus="true" placeholder="Informe o Bem" style="text-transform: uppercase" ng-model="bem.COD_BEM" required>
      </label>

      </br>
      <div class="button-bar">
        <input class="button button-dark" type="button" ng-click="fecharApp()" value="Fechar" />
        <input class="button button-positive" type="reset" value="Limpar" />
        <input class="button button-balanced" ng-click="buscaBem(bem)" type="reset" value="Buscar" />
      </div>
</div>
    </form>





    <p> BEM : </p> {{bem.CHAPA}}
    <a ng-repeat="bem in bemEncontrado | filter:search" type="item-text-wrap" class="item" item="bem" ng-click="editarBem(bem)">
      <h4>{{bem.CHAPA}} <i class="ion-alert item-note" style="color:red;" ng-show="bem.COD_LOCAL != dados.COD_LOCAL"></i> </h4>
      <p>{{bem.DESC_BEM}}</p>


      <p>CÓDIGO DO LOCAL: {{bem.COD_LOCAL}}</p>


      <div ng-show="bem.COD_LOCAL != dados.COD_LOCAL">

        <h4 style="color:red; padding: 0px 15px 1px 0px">
    O local informado diverge do cadastro.
  </h4>
      </div>
      <p> BEM </p>










  </ion-content>
</ion-view>
