/* Empty. Add your own CSS if you like */
.images-fundo{
  background: url("../img/logo-nimal-leve.png") no-repeat center;
}

/*.grid {
  width: 600px;
  height: 450px;
}*/




/* //////////////////       PARA USAR COM A LISTA NO CONSULTARPRODUTO*/
.bar-subheader{
  height: 60px !important;
}
.has-subheader{
  top: 100px !important;
}
/* //////////////////*/




/*.modal {
top: 0% !important;
left: 0% !important;
right: 0% !important;
bottom: auto !important;
margin: 5% !important;
overflow: hidden !important;
position: auto !important;
background-position: auto !important;
background-size: cover;*/




  /*.cadastrarVeiculoForm input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }*/
