/* Empty. Add your own CSS if you like */
.images-fundo{
  background: url("../img/logo-nimal-leve.png") no-repeat center;
}

.grid {
  width: 600px;
  height: 450px;
}


  /*.cadastrarVeiculoForm input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }*/
